/**********EJERCICIO 19*************/




* {
    box-sizing: border-box;

}

div#content {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
    font-size: x-large;
}

div#content>div#bloque {
    display: flex;
    flex: 0 50%;
    flex-flow: row wrap;
    align-items: start;
}

form {
    display: flex;
    flex: 100%;
    max-width: 100%;
    flex-flow: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

p {
    position: relative;
}

input {
    border: none;
    padding: 0rem 2rem;
    font-size: large;
    transition: all 1s ease-in-out;
    padding-top: 20px;
    border: none;
    width: 100%;
    height: 100%;
    outline: 0px;
    background: none;
}

.lbl {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.lbl::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100px;
    border-bottom: 3px solid orange;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.spn {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.5s ease;
    color: black
}



input:focus+.lbl .spn,
input:valid+.lbl .spn {
    transform: translateY(-150%);
    font-size: small;
    color: orange;
}

input:focus+.lbl:after, input:valid+.lbl::after {
    transform: translateX(0%);
}

a {
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 1rem 2rem;
}

button {
    background-color: black;
    color: rgb(114, 100, 68);
    font-weight: 800;
    border-radius: 1.8rem;
    padding: 1rem;
    width: 60%;
    font-size: large;
    cursor: pointer;
}