* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
}

header,
footer {
  background-color: #e6e7e8;
  border: 2px solid #3f3f3f;
  border-radius: 5px;
}

footer {
  color: #3f3f3f;
  height: 2rem;
}

header img#logo {
  width: 5rem;
  height: 4.35rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif;
  color: #00acdd;
}

header h1 {
  color: #004166;
  font-weight: bold;
}

header h1 span#subject {
  color: #96bc33;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #00acdd;
}

a:visited {
  color: #ea2126;
}

a:hover {
  cursor: pointer;
  color: #f58a1e;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  padding-left: 0;
}

div#content {
  display: flex;
  flex-flow: column;
}

div#content>header {
  display: flex;
  flex: 100%;

}

div#content>nav#main-menu {
  display: flex;
  flex: 100%;
  flex-flow: column nowrap;
  background-color: #004166;
  font-weight: bold;
  font-size: x-large;
  border: 2px solid #e6e7e8;
  border-radius: 5px;
  align-items: center;
  flex: 0 0 100%;
  position:relative;
  min-height: 4rem;
}

div#content>nav#main-menu>label {
  height: 4rem;
  width: 3rem;
  position: relative;
}

div#content>nav#main-menu>label>span.hamburguer-line {
  width: 100%;
  height: 0.25rem;
  background-color: white;
  position:absolute;
  margin-top:-0.125rem;
}

div#content>nav#main-menu>label>span.hamburguer-line:nth-child(1){
  top:25%;
}
div#content>nav#main-menu>label>span.hamburguer-line:nth-child(2){
  top:50%;
}
div#content>nav#main-menu>label>span.hamburguer-line:nth-child(3){
  top:75%;
}

div#content>nav#main-menu>input#hamburguer-icon:checked~label>span.hamburguer-line {
  transition: transform 1s, background-color 1s, top 1s;
  transition-delay: 0.5s, 0s, 0s;
}

div#content>nav#main-menu>input#hamburguer-icon:not(:checked)~label>span.hamburguer-line {
  transition: transform 1s, background-color 1s, top 1s;
  transition-delay: 0s, 0.5s, 0.5s;
}


div#content>nav#main-menu>input#hamburguer-icon:checked~label>span.hamburguer-line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
  
}


div#content>nav#main-menu>input#hamburguer-icon:checked~label>span.hamburguer-line:nth-child(2) {
  background-color: transparent;
}


div#content>nav#main-menu>input#hamburguer-icon:checked~label>span.hamburguer-line:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
  
}



div#content>nav#main-menu>label:hover {
  cursor: pointer;
}

div#content>nav#main-menu>input#hamburguer-icon {
  display: none;
}

div#content>nav#main-menu>ul {
  display: none;
  margin: 0 0 1rem;
}

div#content>nav#main-menu>ul>li {
  padding: 0.5rem 0;
}

div#content>nav#main-menu>input#hamburguer-icon:checked~ul {
  display: flex;
  flex-flow: column;
}

main section#principal {
  display: flex;
  flex: 100%;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid #004166;
  border-radius: 5px;
}

main section article.news-art {
  border: 5px solid #e6e7e8;
  border-radius: 0.8rem;
  display: flex;
  flex: 100%;
  flex-flow: column nowrap;
  align-items: center;
}

div#content main section#principal article#primerElemento {
  background-color: #e6e7e8;
  border-color: #f58a1e;
}

div#content main section article.news-art img {
  width: 20rem;
  height: auto;
}

div#content main section article.news-art p {
  font-size: larger;
  padding: 0 1rem;
}

@media all and (min-width:800px) {

  main section article.news-art {
    flex-flow: row wrap;

  }

  main section article.news-art h3 {
    flex: 100%;
  }

  main section article.news-art img {
    flex: 0 0 25%;
  }

  main section article.news-art p {
    align-self: flex-start;
    flex: 40%;
  }
}

@media all and (min-width:1200px) {

  div#content>nav#main-menu>label {
    display: none;
  }


  div#content>nav#main-menu>ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0.5rem 0;
  }

  div#content>nav#main-menu>input#hamburger:checked~ul {
    flex-flow: row;
  }

  main section article#primerElemento {
    flex: 100%;
  }

  main section#principal {
    flex-flow: row wrap;
  }

  main section article.news-art {
    flex: 50%;
  }


}