* {
    box-sizing: border-box;
}

main>section#ofertas {
    display: flex;
    flex-direction: column;
}

main>section#ofertas>article.item-oferta {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    margin: 0.5rem;
    flex: 0 0 30%
}

main>section#ofertas>article.item-oferta>h3 {
    text-align: center;
    order: 0;
}


main>section#ofertas>article.item-oferta>p {
    order: 2;
}

main>section#ofertas>article.item-oferta>ul {
    order: 3;
}

main>section#ofertas>article.item-oferta>img {
    align-self: center;
    order: 1;
}

main>section#ofertas>article.item-oferta>button.boton-cesta {
    order: 4;
    border: 1px solid green;
    border-radius: 0.2rem;
    background: orangered;
    color: white;
    padding: 0.75rem;
    box-shadow: 0px 10px 20px -5px green;
    font-weight: 800;
    margin-top: auto;
}

@media all and (min-width:650px) {

    main>section#ofertas {
        flex-flow: row wrap;
    }

    main>section#ofertas>article.item-oferta {
        flex: 0 0 30%;

    }
}