* {
    box-sizing: border-box;
}

div#content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div#reproductor {
    display: flex;
    flex-flow: row wrap;
    background-color: #FF600A;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    border: 2px solid #FFA817
}

button {
    background: none;
    min-width: 2rem;
    border: none;
    cursor: pointer;
}

video {
    max-width: 100%;
}

div#barra-tiempo {
    flex: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.75rem 0;
}

div#pack-vol {
    display: flex;
    flex-flow: row;
}

div#pack-vel {
    width: 8rem;
    display: flex;
    flex-flow: row;
}

div#pack-vel>button {
    flex: 1
}

div#pack-vel>div {
    flex: 2
}

div#vel-rep {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Roboto Slab';
}

svg {
    height: 2rem;
    width: 100%;
}

input#time-range {
    width: 80%;
}

span#tiempo {
    font-weight: bold;
}

.oculto {
    display: none;
}

.visible {
    display: block;
}